<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Mindful Abstracts</title>
</head>
<body class="w-full h-screen bg-gradient-to-r from-blue-200 via-orange-500 to-yellow-400 backgroundAnimate">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">      
            <a href="/"><h2 class="text-center text-6xl font-['DT_Getai_Grotesk_Display'] text-white drop-shadow-md leading-[0.8] tracking-tight text-gray-900">Mindful<br> Abstracts</h2></a>
        </div>
        <div id="content" class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm drop-shadow-md">
            <form id="abstractForm" class="space-y-6">
                <div>
                    <div class="mt-[-2px]">
                        <div id="sum_value" class="boxAnimate bg-white px-4 block w-full rounded-[16px] border-0 py-4 px-4 text-gray-900 shadow-sm sm:text-sm sm:leading-6">
                            {{ data | safe }}
                        </div>
                    </div>
                </div>
            </div>
    
            <p class="mt-10 text-center text-sm text-gray-100">
                Want to learn more?
                <a href="https://github.com/GiuseppePitruzzella/mindful-abstract" class="font-semibold leading-6 text-white">Check our Repository ❤️</a>
            </p>
        </div>
    </div>
    <script src="/static/js/req.js"></script>
    <!-- <script>
        // Definisci il testo che vuoi stampare chunk by chunk
        const textToAnimate = `                           
            <h3 class="font-['DT_Getai_Grotesk_Display'] text-xl">Riepilogo</h3>
            <p>Alberto Fontana, conosciuto come Naska, è diventato pilota automobilistico nonostante le difficoltà economiche. Ha trovato una soluzione creativa per avvicinarsi al suo sogno, iniziando a giocare a videogiochi di corse automobilistiche.</p><br>
            <h3 class="font-['DT_Getai_Grotesk_Display'] text-xl">Highlights</h3>
            <p>
                🏎️ Alberto Fontana aveva il sogno di diventare pilota automobilistico, ma mancavano i soldi necessari per iniziare.<br>
                🎮 Ha iniziato a giocare a videogiochi di corse automobilistiche per avvicinarsi al suo sogno.<br>
                🎭 Ha seguito un corso di teatro e iniziato a creare contenuti video su YouTube, ottenendo una grande visibilità.<br>
                👀 Ha imparato l'importanza di guardarsi da fuori per capire come gli altri lo vedevano e migliorare se stesso.<br>
            </p>`;

        function animateTextChunkByChunk() {
            const chunkContainer = document.querySelector('.chunkAnimate');
            const chunks = textToAnimate.split(' ');

            let animatedText = '';
            let delay = 100; // Chunk-by-chunk animation speed

            chunks.forEach((chunk, index) => {
                setTimeout(() => {
                    animatedText += chunk + ' ';
                    chunkContainer.innerHTML = animatedText;
                }, index * delay);
            });
        }

        animateTextChunkByChunk();
    </script> -->
</body>
</html>